In [242]:
import pandas as pd

In [243]:
# importing data to be cleaned

df = pd.read_excel('uncleaned_computer_jobs.xlsx')
df

,index,Job Title,Salary Estimate,Job Description,Company Name,Rating,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,Healthfirst,3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",ManTech,4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,Analysis Group,3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,INFICON,3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions,2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWeâ€™re looking for a data scientis...,TRANZACT,3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,JKGT,-1.0,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,AccessHope,-1.0,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,ChaTeck Incorporated,5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,1-800-Flowers,2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [244]:
# checking for null values

df.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Company Name         0
Rating               0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [245]:
# removing unnecessary columns

df.drop('Job Description', axis=1, inplace=True)

In [246]:
# replacing spaces in column names with underscores

df.columns=df.columns.str.replace(' ', '_')

In [247]:
# adding "_USD" to Salary_Estimate 

df.rename(columns={'Salary_Estimate':'Salary_Estimate_USD'}, inplace=True)

In [248]:
# removing dollar sign from Salry_Estimate_USD column

df.Salary_Estimate_USD = df.Salary_Estimate_USD.str.replace('$', '', regex=True)

In [249]:
# adding "_USD" to Revenue
df.rename(columns={'Revenue':'Revenue_USD'}, inplace=True)

In [250]:
# removing dollar sign from Revenue_USD column

df.Revenue_USD = df.Revenue_USD.str.replace('$', '', regex=True)

In [251]:
# removing "(USD)" from Revenue_USD column
df.Revenue_USD = df.Revenue_USD.str.replace(r" \(.*\)","")

<ipython-input-251-c2108853c4f0>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.Revenue_USD = df.Revenue_USD.str.replace(r" \(.*\)","")

In [252]:
# replacing NaN with "Unknown/Non-Applicable" in Revenue column

df.Revenue_USD.fillna('Unknown/Non-Applicable', inplace=True)

In [253]:
# renaming Size to Number_of_Emlpoyees

df.rename(columns={'Size':'Number_of_Emlpoyees'}, inplace=True)

In [254]:
# remvoing "employees" string from Number_of_Emlpoyees column

df.Number_of_Emlpoyees = df.Number_of_Emlpoyees.str.replace('employees', '')

In [255]:
# splitting salary from "(Glassdoor)" from Salary_Estimate_USD column

df[['Salary_Estimate_USD', 'Salary_Estimate_Source']]=df.Salary_Estimate_USD.str.split(' ', n=1, expand=True)

In [256]:
# removing parenthesis from Salary_Estimate_Source column

df.Salary_Estimate_Source = df.Salary_Estimate_Source.str.replace('(','')
df.Salary_Estimate_Source = df.Salary_Estimate_Source.str.replace(')','')

<ipython-input-256-1cd6e23b71f2>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df.Salary_Estimate_Source = df.Salary_Estimate_Source.str.replace('(','')
<ipython-input-256-1cd6e23b71f2>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df.Salary_Estimate_Source = df.Salary_Estimate_Source.str.replace(')','')

In [257]:
# updating index of Salary_Estimate_Source Part 1: gather columns
df.columns

Index(['index', 'Job_Title', 'Salary_Estimate_USD', 'Company_Name', 'Rating',
       'Location', 'Headquarters', 'Number_of_Emlpoyees', 'Founded',
       'Type_of_ownership', 'Industry', 'Sector', 'Revenue_USD', 'Competitors',
       'Salary_Estimate_Source'],
      dtype='object')

In [258]:
# updating index of Salary_Estimate_Source Part 2: move Salary_Estimate_Source after Salary_Estimate

df = df.reindex(columns=[
       'index', 'Job_Title', 'Salary_Estimate_USD', 'Salary_Estimate_Source', 
       'Company_Name', 'Rating', 'Location', 'Headquarters', 'Number_of_Emlpoyees', 'Founded',
       'Type_of_ownership', 'Industry', 'Sector', 'Revenue_USD', 'Competitors'])

In [259]:
# remvoing "est." from Salary_Estimate_Source column

df.Salary_Estimate_Source = df.Salary_Estimate_Source.str.replace('est.', '')

<ipython-input-259-85fe6a35af1a>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df.Salary_Estimate_Source = df.Salary_Estimate_Source.str.replace('est.', '')

In [260]:
# splitting Location into Location_City and Location_State

df[['Location_City', 'Location_State']]=df.Location.str.split(',', n=1, expand=True)

In [261]:
# removing column Location and reordering columns Location_City and Location_State

df.drop('Location', axis =1, inplace = True)
df = df.reindex(columns=[
       'index', 'Job_Title', 'Salary_Estimate_USD', 'Salary_Estimate_Source', 
       'Company_Name', 'Rating', 'Location_City', 'Location_State', 'Headquarters', 
       'Number_of_Emlpoyees', 'Founded', 'Type_of_ownership', 'Industry', 'Sector', 
       'Revenue_USD', 'Competitors'])

In [263]:
# splitting Headquarters into Headquarters_City and Headquarters_State/Country
# removing column Location and reordering columns Headquarters_City and Headquarters_State/Country

df[['Headquarters_City', 'Headquarters_State/Country']]=df.Headquarters.str.split(',', n=1, expand=True); 

df.drop('Headquarters', axis =1, inplace = True);

df = df.reindex(columns=[
       'index', 'Job_Title', 'Salary_Estimate_USD', 'Salary_Estimate_Source', 
       'Company_Name', 'Rating', 'Location_City', 'Location_State', 'Headquarters_City', 
       'Headquarters_State/Country', 'Number_of_Emlpoyees', 'Founded', 'Type_of_ownership', 'Industry', 'Sector', 
       'Revenue_USD', 'Competitors']);

In [272]:
# fixing incorrect data

df.Rating = df.Rating.mask(df.Rating == -1.0, 1.0)

In [274]:
# updating all "-1" to null value

df = df.mask(df == -1, )

In [276]:
# replacing all NaN values with "Unknown/Non-Applicable"

df.fillna('Unknown/Non-Applicable', inplace=True)

In [285]:
# updating Founded column datatype from object to int

df.Founded = df.Founded.replace('Unknown/Non-Applicable', '0')
df.Founded= df.Founded.astype(int)

In [286]:
df

,index,Job_Title,Salary_Estimate_USD,Salary_Estimate_Source,Company_Name,Rating,Location_City,Location_State,Headquarters_City,Headquarters_State/Country,Number_of_Emlpoyees,Founded,Type_of_ownership,Industry,Sector,Revenue_USD,Competitors
0,0,Sr Data Scientist,137K-171K,Glassdoor,Healthfirst,3.1,New York,NY,New York,NY,1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,137K-171K,Glassdoor,ManTech,4.2,Chantilly,VA,Herndon,VA,5001 to 10000,1968,Company - Public,Research & Development,Business Services,1 to 2 billion,Unknown/Non-Applicable
2,2,Data Scientist,137K-171K,Glassdoor,Analysis Group,3.8,Boston,MA,Boston,MA,1001 to 5000,1981,Private Practice / Firm,Consulting,Business Services,100 to 500 million,Unknown/Non-Applicable
3,3,Data Scientist,137K-171K,Glassdoor,INFICON,3.5,Newton,MA,Bad Ragaz,Switzerland,501 to 1000,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,100 to 500 million,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,137K-171K,Glassdoor,Affinity Solutions,2.9,New York,NY,New York,NY,51 to 200,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,105K-167K,Glassdoor,TRANZACT,3.6,Fort Lee,NJ,Fort Lee,NJ,1001 to 5000,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Unknown/Non-Applicable
668,668,Data Scientist,105K-167K,Glassdoor,JKGT,1.0,San Francisco,CA,Unknown/Non-Applicable,Unknown/Non-Applicable,Unknown/Non-Applicable,0,Unknown/Non-Applicable,Unknown/Non-Applicable,Unknown/Non-Applicable,Unknown/Non-Applicable,Unknown/Non-Applicable
669,669,Data Scientist,105K-167K,Glassdoor,AccessHope,1.0,Irwindale,CA,Unknown/Non-Applicable,Unknown/Non-Applicable,Unknown/Non-Applicable,0,Unknown/Non-Applicable,Unknown/Non-Applicable,Unknown/Non-Applicable,Unknown/Non-Applicable,Unknown/Non-Applicable
670,670,Data Scientist,105K-167K,Glassdoor,ChaTeck Incorporated,5.0,San Francisco,CA,Santa Clara,CA,1 to 50,0,Company - Private,Advertising & Marketing,Business Services,1 to 5 million,Unknown/Non-Applicable
671,671,Data Scientist,105K-167K,Glassdoor,1-800-Flowers,2.7,New York,NY,Carle Place,NY,1001 to 5000,1976,Company - Public,Wholesale,Business Services,1 to 2 billion,Unknown/Non-Applicable